<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shopee Like</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
        delete module.exports
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="./index.js" charset="utf-8"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.3/vue.min.js'></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="padding-top:50px;">
                <h3 class="text-center">蝦皮自動按愛心工具</h3>
                <br>
                <div id="error" style="color:red;">
                    <template v-for="error in errors">
                        <p>{{ error }}</p>
                    </template>
                </div>
                <form>
                    <div class="form-group">
                        <label>蝦皮帳號</label>
                        <input v-model="userid" class="form-control" type="text" name="userid">
                    </div>
                    <div class="form-group">
                        <label>蝦皮密碼</label>
                        <input v-model="password" class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>賣場連結</label>
                        <input v-model="mall" class="form-control" type="text" name="mall" placeholder="https://shopee.tw/shopee24h">
                    </div>
                </form>
                <div id="log">
                    <template v-for="log in logs">
                        <p>{{ log }}</p>
                    </template>
                </div>
                <div v-if="status == 0" v-on:click="start" class="btn btn-primary">開始</div>
                <div v-if="status != 0" v-on:click="stop" class="btn btn-danger">停止</div>
            </div>
        </div>
    </div>
</body>

</html>